
@font-face {
  font-family:'manrope';
  src: url('./assets/font/Manrope-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900; /* Variable font weight range */
  font-style: normal;
}
@import "tailwindcss";
@theme {
  --font-manrope: 'manrope', sans-serif;
  --text-full:20px;
  --text-lg:13px;
  --color-white: #fff;
  --breakpoint-desktop: 1480px;
  --breakpoint-mobile: 640px;
}

body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh; 
  background-color: #191b24;
  -webkit-text-size-adjust:none;
  text-size-adjust: 100%;
}

.swiper-button-prev,

.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  margin-top: -15px;
  z-index:20;
  padding: 5px;
  size: 20px;
  cursor: pointer;
  background: linear-gradient(145deg, #FFB200, #EB5B00);
  color: white !important ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scrollable-element{
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
  
}
.scrollable-element::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
@layer base {
  html,
  :host {
      -webkit-text-size-adjust: 100%;
      text-size-adjust: 100%;
  }
}


